@model CMS.Models.UserModel

@{
    ViewData["Title"] = "Alterar";
}

<h2>Alterar</h2>

<h4>Perfil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Alterar" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label id="label-imagem" name="label-imagem" class="control-label">Imagem:</label>
                <input id="Imagem" name="Imagem" class="form-control" type="file" />
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Twitter" class="control-label"></label>
                <input asp-for="Twitter" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="control-label"></label>
                <input asp-for="Instagram" class="form-control" />
            </div>

            <input type="hidden" asp-for="Id" value="@ViewBag.UserId" />
            <input type="hidden" asp-for="Image"  />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
