

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #esquerda {
        left: 1%;
    }

    #direita {
        right: 1%;
    }
</style>

<script src="/lib/jquery/dist/jquery.js"></script>
<br />
<br />
<br />

<input type="text" id="NameUser" style="width:90%;" placeholder="Nome de Usuario" />
<div style="position:absolute; top:20%;" class="jumbotron">

<ul id="listaUsers"></ul>
</div>


<div>
    <img src="~/imagem/story.jpg" class="img-responsive" width="1000" />
</div>


<div>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#NameUser").keyup(function () {

                $.ajax({
                    type: 'POST',
                    url: '/AjaxGet/GetUser',
                    dataType: 'json',
                    data: { valor: $(this).val() },
                    success: function (data) {

                        $("#listaUsers").empty();
                        $.each(data, function (i) {

                            $("#listaUsers").append('<li>' +
                                "<a href='Perfil/" + data[i].name + "/' class='Users' >" + data[i].name + " </a>" +
                                '</li>');
                        });
                    },
                    error: function (ex) {
                        alert('Falha ao buscar users.' + ex);
                    }
                });
            });
        });

    </script>
</div>



