@model business.Back.Background

@{
    ViewData["Title"] = "EditBackground";
}

<h1>Editar Background</h1>

<h4>Background</h4>

@{
    if (ViewBag.back == "BackgroundGradiente" && ViewBag.condicao == false)
    { <partial name="_BackgroundGradiente" model="Model" /> }
    else if (ViewBag.back == "BackgroundImagem" && ViewBag.condicao == false)
    { <partial name="_BackgroundImagem" model="Model" /> }
    else if (ViewBag.back == "BackgroundCor" && ViewBag.condicao == false)
    { <partial name="_BackgroundCor" model="Model" /> }
}

@{
    if (ViewBag.condicao == false)
    {
        <div id="links-back" style="display:none;">
            <input type="hidden" id="numero-back" name="numero-back" />
            <a href="#" id="blocoGradiente" class="btn btn-warning">Plano gradiente</a><br />
            <a href="#" id="blocoImagem" class="btn btn-primary">Plano imagem</a><br />
            <a href="#" id="blocoCor" class="btn btn-danger">Plano de uma cor</a><br />

        </div>
    }
    else
    {
        <div id="links-back">
            <input type="hidden" id="numero-back" name="numero-back" />
            <a href="#" id="blocoGradiente" class="btn btn-warning">Plano gradiente</a><br />
            <a href="#" id="blocoImagem" class="btn btn-primary">Plano imagem</a><br />
            <a href="#" id="blocoCor" class="btn btn-danger">Plano de uma cor</a><br />

        </div>
    }

    if (ViewBag.condicao == false)
    {
        <div>
            <script type="text/javascript">

                $("#blocoImagem").click(function () {
                    var numero = $("#numero-back").val();
                    $("#conteudomodal").load("/Background/Edit/BackgroundImagem/" + numero);
                });

                $("#blocoGradiente").click(function () {
                    var numero = $("#numero-back").val();
                    $("#conteudomodal").load("/Background/Edit/BackgroundGradiente/" + numero);
                });

                $("#blocoCor").click(function () {

                    var numero = $("#numero-back").val();
                    $("#conteudomodal").load("/Background/Edit/BackgroundCor/" + numero);
                });

            </script>
        </div>
    }
    else
    {
        <div>
            <script type="text/javascript">

                $("#blocoImagem").click(function () {
                    $("#conteudomodal").load("/Background/Edit/BackgroundImagem/@(Model.Id)" );
                });

                $("#blocoGradiente").click(function () {
                    $("#conteudomodal").load("/Background/Edit/BackgroundGradiente/@(Model.Id)");
                });

                $("#blocoCor").click(function () {
                    $("#conteudomodal").load("/Background/Edit/BackgroundCor/@(Model.Id)");
                });

            </script>
        </div>
    }


}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
