@model business.Back.Background

@{
    ViewData["Title"] = "EditBackground";
}
<h1>Editar Background</h1>
@{
    if(Model is business.Back.BackgroundDiv)
    {
        if (Model.GetType().Name == "BackgroundGradiente")
        { <partial name="_BackgroundGradiente" model="Model" /> }
        else if (Model.GetType().Name == "BackgroundImagem")
        { <partial name="_BackgroundImagem" model="Model" /> }
        else if (Model.GetType().Name == "BackgroundCor")
        { <partial name="_BackgroundCor" model="Model" /> }
    }
    else
    {
        if (Model.GetType().Name == "BackgroundCorContainer")
        { <partial name="_BackgroundCorContainer" model="Model" /> }
        else if (Model.GetType().Name == "BackgroundImagemContainer")
        { <partial name="_BackgroundImagemContainer" model="Model" /> }
        else if (Model.GetType().Name == "BackgroundGradienteContainer")
        { <partial name="_BackgroundGradienteContainer" model="Model" /> }
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
