@model business.business.VideoIncorporado


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Upload de arquivos txt para incorporar videos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tamanho" class="control-label"></label>
                <input asp-for="Tamanho" class="form-control" />
                <span asp-validation-for="Tamanho" class="text-danger"></span>
            </div>
             <div class="buttons">
                    <div class="upload-button">
                        <input id="file" name="file" type="file" accept=".txt"  />
                    </div>
                </div>
            @* <div class="form-group">
                <label asp-for="ArquivoVideoIncorporado" class="control-label"></label>
                <input asp-for="ArquivoVideoIncorporado" class="form-control" />
                <span asp-validation-for="ArquivoVideoIncorporado" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
