@model IEnumerable<string>

@{
    ViewBag.Title = "Comentar";
    List<string> lista = ViewBag.comentarios;
       
}




    @Html.AntiForgeryToken()

    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=m8nq39l31dv5y829ehcjsd0rciwei8crem0yubndhdgs72fd"></script>
    <script src="~/js/Tynymce.js"></script>

    
    <div class="form-horizontal" id="Formulario">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <input name="idPagina" id="idPagina" value="@ViewBag.idPagina" type="hidden" />        

        <div class="form-group col-md-10">
            <label id="PalavrasTexto" name="PalavrasTexto" class="control-label">Conteudo:</label>
            <script type="text/javascript">Editar();</script>
            <textarea id="textarea" name="Conteudo" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <div class=" col-md-10">
              <center>
                
                <button id="comentar">Comentar</button>

              </center>
            </div>
        </div>
    </div>


    


<div class="comentarios" style="height:350px; overflow: auto; bottom: 1% position: fixed;" >
        @{foreach(var item in Model)
            {
                @Html.Raw(item)
                <br />
                <hr />
            }
        }
</div>
  

<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

$("#comentar").click(function(){

       let token = $('[name=__RequestVerificationToken]').val();

        let headers = {};
        headers['RequestVerificationToken'] = token;

        var data = 
        {
            IdPagina : parseInt($("#idPagina").val()),
            Conteudo : $("#textarea").val(),
            Message : ""
        };

        $.ajax({
            url: '/Visualizar/FazerComentario',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            headers: headers
        }).done(function (response) {            
            alert(response.message);            
        });

   });

</script>




