

@{
    ViewBag.Title = "Create";
    List<string> lista = ViewBag.comentarios;
}

    @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=m8nq39l31dv5y829ehcjsd0rciwei8crem0yubndhdgs72fd"></script>
    <script src="~/js/Tynymce.js"></script>

    <a href='#' id='Fechar' class='btn btn-primary' style="display:none;">Fechar Preview</a>
    <div class="form-horizontal" id="Formulario">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <input name="idPagina" id="idPagina" value="@ViewBag.idPagina" type="hidden" />        

        <div class="form-group">
            <label id="PalavrasTexto" name="PalavrasTexto" class="control-label">Conteudo:</label>
            <script type="text/javascript">Editar();</script>
            <textarea id="textarea" name="Conteudo" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Comentar" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<a href="#" class="btn btn-primary fechar" >Fechar</a>

<div class="comentarios" style="height:350px; overflow: hidden; bottom: 1% position: fixed;" >
        @{foreach(var item in lista)
            {
                @Html.Raw(item)
                <br />
                <hr />
            }
        }
</div>


@section scripts{

    <script type="text/javascript" src="~/js/AjaxGetGroup.js"></script>
    <script type="text/javascript" src="~/js/FullScreen.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $(".fechar").click(function () {
                $(".ProdutoContent").css("display", "block");
                $("#comentario").css("display", "none");
            });           

        });
    </script>

}



