
 <style>
     .container1{
         width:255px;
         margin-left: 0px;
     }
 </style>

<style>
    #discussion {
        background-color: lightblue;
        width: 255px;
        height: 255px;
        overflow: scroll;
    }
</style>

<h2>Chat</h2>
<div class="container1">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Enviar mensagem" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>


