@model business.business.Pagina

@{
    Layout = "~/Views/Shared/_Render.cshtml";
    var proximo = ViewBag.proximo;
    var anterior = proximo - 2;
    var atual = proximo - 1;
    var quant = ViewBag.quantidadePaginas;
    List<business.business.Story> stories = ViewBag.stories;
}

<script src="/lib/jquery/dist/jquery.js"></script>

<style media="screen and (max-width: 550px)">
    .carousel-control {
        display: block !important;
    }
    #voltar{
        display: none !important;
    }
    #avancar{
        display:none !important;
    }
</style>

<style>

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        padding: 10px;
    }

    .glyphicon {
        font-size: 22px;
    }

    #sites {
        margin-left: 50px;
    }

    #paginas {
        margin-left: 50px;
    }

    #acesso {
        margin-left: 50px;
    }

    #loading {
        display: none;
        background-color: lightgray;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 300px;
        filter: alpha(opacity=75);
        opacity: 0.75;
    }

    .blocoLoader {
        z-index: 40;
    }

    .minhaClasse {
        z-index: 0 !important;
    }

    .minhaClasse2 {
        z-index: 40 !important;
    }

    .minhaClasse3 {
        color: red;
    }
</style>



@if (Model == null)
{
    <label class="control-label" style="margin-left:50px;">Escolha uma pagina</label>

}
else
{



    ViewBag.Title = Model.Titulo;
    string valor = ViewBag.html;

    <style media="screen and (max-width: 450px)">
        .content {
            width: 100%;
        }
    </style>

    <link rel="stylesheet" href="~/css/RenderizarDinamico.css" />
    <a class="left carousel-control blocoLoader" href="/Story-@(ViewBag.story)-Pagina/@(anterior)" style="display:none;">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>


    <a class="right carousel-control blocoLoader" href="/Story-@(ViewBag.story)-Pagina/@(proximo)" style="display:none;">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>

    <div style="position:fixed; top:5px;" class="blocoLoader row">
        <div class="col-xs-4">
            <form>
                <span style="background-color:white;">Story:</span>
                <select asp-for="Story.Nome" class="ClasseStory" style="width:100px;"></select>

                <span asp-validation-for="Story.Nome" class="text-danger"></span>
            </form>
        </div>

        <div class="right col-xs-8" id="Pesquisa">
            <span style="background-color:white;">Pag.</span>
            <input type="number" placeholder="N° pagina"
                   id="NumeroPaginaAcesso" value="@atual" min="2" style="width: 80px;" />
            <a id="acessoPaginaComInput" href="#"
               class="btn btn-primary glyphicon glyphicon-search loader">
            </a>
            <a id="voltar" href="#"
               class="btn btn-primary loader glyphicon glyphicon-chevron-left">
            </a>
            <a id="avancar" href="#"
               class="btn btn-primary loader glyphicon glyphicon-chevron-right">
            </a>
            <a href="/Index/" class="glyphicon glyphicon-home" style="left: 3%;"></a>
        </div>

    </div>

    @Html.Raw(ViewBag.Html)

    <div style="position:fixed; bottom:4%; left: 1%; width: 100%; overflow-x:auto; ">

        <center>
            <h3 style="background-color:darkgray; opacity: 0.80;">@Html.CheckBox("automatico") Automático </h3>

            <div style="z-index:80;">

                @{ for (var indice = 1; indice <= quant; indice++)
                    {
                        <a href="#" class="loader LinksPagina" style="background-color:darkgray; opacity: 0.80;">
                            <span class="DivPagina glyphicon glyphicon-record" id="DivPagina@(indice)"></span>
                        </a>

                    }
                }

            </div>
        </center>

    </div>


    <div id="loading" style="display:none; z-index:50;"><img src="~/imagem/loader.gif" /></div>

}



@section scripts{

    @*<script src="https://unpkg.com/jquery@2.2.0/dist/jquery.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.cookie.js"></script>
    <script src="~/js/loader.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var links = $(".LinksPagina");

            $("#DivPagina@(atual)").addClass('minhaClasse3');

            $.ajax({
                type: 'POST',
                url: '/AjaxGet/GetStories',
                dataType: 'json',
                data: { valor: "" },
                success: function (data) {
                    $.each(data, function (i) {

                        if (data[i].nome == "@ViewBag.story") {
                            $(".ClasseStory").append(' <option value="' + data[i].nome + '" selected>' +
                                data[i].nome + '</option>');
                            for (var j = 0; j < links.length; j++) {
                                var k = j + 1;
                                links[j].href = "/Story-" + data[i].nome + "-Pagina/" + k;
                            }
                        }
                        else
                            $(".ClasseStory").append('<option value="' + data[i].nome + '" >' +
                                data[i].nome + '</option>');
                    });



                },
                error: function (ex) {
                    alert('Falha ao buscar elementos.' + ex);
                }
            });



            $(".ClasseStory").change(function () {

                document.getElementById("acessoPaginaComInput").href += "/Story-" + $(this).val() + "-Pagina/" + @atual;

                for (var i = 0; i < links.length; i++)
                {
                    var j = i + 1;
                    links[i].href += "/Story-" + $(this).val() + "-Pagina/" + j;
                }

                window.location.href = "/Story-" + $(this).val() + "-Pagina/1";
                $("#loading").show();

            });

            $("#NumeroPaginaAcesso").change(function () {
                document.getElementById("acessoPaginaComInput").href = "/Story-" + $(".ClasseStory").val() + "-Pagina/";
                document.getElementById("acessoPaginaComInput").href += $(this).val();
            });

            $("#voltar").click(function () {
                window.location.href = "/Story-" + $(".ClasseStory").val() + "-Pagina/" + @anterior;
            });

            $("#avancar").click(function () {
                window.location.href = "/Story-" + $(".ClasseStory").val() + "-Pagina/" + @proximo;
            });

            var checkbox = document.querySelector("#automatico");
            function ativarCheckbox(el) {
                el.checked = true;
            }
            function desativarCheckbox(el) {
                el.checked = false;
            }

            $("input").change(function () {

                if ($("#automatico").is(':checked') == true) {
                    $.cookie('automatico', '1');
                    alert("As paginas serão mostradas automaticamente.");
                    setTimeout(function () {
                        $("#loading").show();

                        if (@atual < @quant)
                            window.location.href = "/Story-" + $(".ClasseStory").val() + "-Pagina/" + @proximo;
                        else
                            window.location.href = "/Story-" + $(".ClasseStory").val() + "-Pagina/1";
                    }, 10000);
                }
                else
                    $.cookie('automatico', '0');
                });

            if ($.cookie('automatico') == '1')
            {
                ativarCheckbox(checkbox);
                setTimeout(function () {


                    if ($.cookie('automatico') == '1')
                    $("#loading").show();
                    if (@atual < @quant && $.cookie('automatico') == '1')
                        window.location.href = "/Story-" + $(".ClasseStory").val() + "-Pagina/" + @proximo;
                    else if ($.cookie('automatico') == '1')
                        window.location.href = "/Story-" + $(".ClasseStory").val() + "-Pagina/1";
                }, 10000);
            }
            else
                desativarCheckbox(checkbox);



            $(".carousel-control").click(function () { $("#loading").show(); });





            $('#PaginaInput').change(function () {
                document.getElementById('acessoPaginaInput').href = '/Pagina/0/';
                document.getElementById('acessoPaginaInput').href += $(this).val();
            });

            $("button").click(function () {

                if ($(".collapse")[0].ariaExpanded == "true") {
                    $(".blocoLoader").removeClass('minhaClasse');
                    $(".blocoLoader").addClass('minhaClasse2');
                }
                else {
                    $(".blocoLoader").removeClass('minhaClasse2');
                    $(".blocoLoader").addClass('minhaClasse');
                }


            }).before(function () { });


        });
    </script>

}


