
#foreach($container in $divs)

#foreach($bloco in $container.Container.Div)

#if($bloco.Div.Tipo == "DivFixo" && $bloco.Div.EscolherPosicao == false)

<style>
    #DIV${bloco.Div.Id}Pagina${model.Pagina.Id} 
    {
        display: none;
        position: fixed; 
        right: ${bloco.Div.EixoXBlocoFixado}%;
        top: ${bloco.Div.EixoYBlocoFixado}%;
    }
</style>

#elseif($bloco.Div.Tipo == "DivFixo")

<style>
    #DIV${bloco.Div.Id}Pagina${model.Pagina.Id} 
    {
        display: none;
    }
</style>

#end

#if($bloco.Div.Background.Tipo == "BackgroundImagem")
<style>
    #DIV${bloco.Div.Id}Pagina${model.Pagina.Id} {

      background-repeat: ${bloco.Div.Background.Background_Repeat};       

    background-image: url($site$bloco.Div.Background.Imagem.ArquivoImagem);
       
    }
</style>

#elseif($bloco.Div.Background.Tipo == "BackgroundGradiente")

  <style>
    #DIV${bloco.Div.Id}Pagina${model.Pagina.Id} {

        #set($um = 1)
         #foreach($Cores in $bloco.Div.Background.Cores)
         #if($um == 1)
        #set($back = $Cores.HexToColor($Cores.CorBackground))
        background: rgb($back); 
        #end
        #set($um = $um + 1)        
         #end


         #set($quantidade = $bloco.Div.Background.Cores.Count())
        background: -moz-linear-gradient(${bloco.Div.Background.Grau}deg,
        #foreach($Cor in $bloco.Div.Background.Cores)
         #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: -webkit-linear-gradient(${bloco.Div.Background.Grau}deg,
        #foreach($Cor in $bloco.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

        #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: linear-gradient(${bloco.Div.Background.Grau}deg,
        #foreach($Cor in $bloco.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
             ,
            #end

        #end  

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09e718',endColorstr='#1c8ea5',GradientType=1);
    
    }
</style>

#else

<style>
    #DIV${bloco.Div.Id}Pagina${model.Pagina.Id} {       

    background-color: $bloco.Div.Background.Cor;    
    
    }
</style>
#end

#foreach($elemento in $bloco.Div.Elemento)

    #if($elemento.Elemento.Background.Tipo == "BackgroundImagemElemento")
<style>
    #DIV${elemento.Elemento.Id}Pagina${model.Pagina.Id} {

      background-repeat: ${elemento.Elemento.Background.Background_RepeatElemento};       

    background-image: url($site$elemento.Elemento.Background.Imagem.ArquivoImagem);
       
    }
</style>

#elseif($elemento.Elemento.Background.Tipo == "BackgroundGradienteElemento")

  <style>
    #DIV${elemento.Elemento.Id}Pagina${model.Pagina.Id} {

        #set($um = 1)
         #foreach($Cores in $elemento.Elemento.Background.Cores)
         #if($um == 1)
        #set($back = $Cores.HexToColor($Cores.CorBackground))
        background: rgb($back); 
        #end
        #set($um = $um + 1)        
         #end


         #set($quantidade = $elemento.Elemento.Background.Cores.Count())
        background: -moz-linear-gradient(${elemento.Elemento.Background.GrauElemento}deg,
        #foreach($Cor in $elemento.Elemento.Background.Cores)
         #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: -webkit-linear-gradient(${elemento.Elemento.Background.GrauElemento}deg,
        #foreach($Cor in $elemento.Elemento.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

        #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: linear-gradient(${elemento.Elemento.Background.GrauElemento}deg,
        #foreach($Cor in $elemento.Elemento.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
             ,
            #end

        #end  

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09e718',endColorstr='#1c8ea5',GradientType=1);
    
    }
</style>

#else

<style>
    #DIV${elemento.Elemento.Id}Pagina${model.Pagina.Id} {       

    background-color: $elemento.Elemento.Background.CorElemento;    
    
    }
</style>
#end

#end

#end

#end

<div>
    <script type='text/javascript'>
        jQuery(function () {

                $('#Ocultar').click(function () {

                    #foreach($bloco in $divs)
                    $('#DIV${bloco.Div.Id}Pagina${model.Pagina.Id}').css('display', 'block');
                    #end

                });

            $('.Ferramenta').click(function () {

                    #foreach($bloco in $divs)
                    #if($bloco.Div.Fixado)
                        $('#DIV${bloco.Div.Id}Pagina${model.Pagina.Id}').css('display', 'none');
                    #end
                    #end

            });


                    #foreach($bloco in $divs) 
                    #if ($bloco.Div.Fixado && $bloco.Div.EscolherPosicao)

                        var header = $('#DIV${bloco.Div.Id}Pagina${model.Pagina.Id}');
                    var sticky = header[0].offsetTop;

                        window.onscroll = function () {
                            if (window.pageYOffset + ${bloco.Div.InicioFixacao} > sticky) {

                        header.addClass('stickyDIV${bloco.Div.Id}Pagina${model.Pagina.Id}');
                    } else
                    {
                        header.removeClass('stickyDIV${bloco.Div.Id}Pagina${model.Pagina.Id}');
                    }
                }
        #end
        #end

        });
    </script>
</div>


#foreach($bloco in $divs)
#foreach($bl in $bloco.Container.Div)

#if($bl.Div.Tipo == 'DivFixo' && $bl.Div.Fixado && $bloco.Div.EscolherPosicao)

<style>
    .stickyDIV${bl.Div.Id}Pagina${model.Pagina.Id} {
        position: fixed;
        top: ${bloco.Div.PosicaoFixacao}%;
        
    }
</style>
#end
#end
#end


#foreach($bloco in $divs)

#if($bloco.Container.Background.Tipo == "ElementoContainer")
<style>
    #Container${bloco.Container.Id}Pagina${model.Pagina.Id} {

      background-repeat: ${bloco.Container.Background.Background_RepeatContainer};       

    background-image: url($site$bloco.Container.Background.Imagem.ArquivoImagem);

    }
</style>

#elseif($bloco.Container.Background.Tipo == "BackgroundGradienteContainer")

  <style>
    #Container${bloco.Container.Id}Pagina${model.Pagina.Id} {

        #set($um = 1)
         #foreach($Cores in $bloco.Container.Background.Cores)
         #if($um == 1)
        #set($back = $Cores.HexToColor($Cores.CorBackground))
        background: rgb($back); 
        #end
        #set($um = $um + 1)        
         #end


         #set($quantidade = $bloco.Container.Background.Cores.Count())
        background: -moz-linear-gradient(${bloco.Container.Background.GrauContainer}deg,
        #foreach($Cor in $bloco.Container.Background.Cores)
         #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: -webkit-linear-gradient(${bloco.Container.Background.GrauContainer}deg,
        #foreach($Cor in $bloco.Container.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

        #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: linear-gradient(${bloco.Container.Background.GrauContainer}deg,
        #foreach($Cor in $bloco.Container.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
             ,
            #end

        #end  

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09e718',endColorstr='#1c8ea5',GradientType=1);
           
    }
</style>

#else

<style>
    #Container${bloco.Container.Id}Pagina${model.Pagina.Id} {     
    
    background-color: $bloco.Container.Background.CorContainer;
    
    }
</style>
#end

#end
