#set($site = '')

#if($model.Div1.Div.Background.Tipo == "BackgroundImagem")

<style>    

    .content {
        background-image: url($site$model.Div1.Div.Background.Imagem.ArquivoImagem);
    }
</style>

#elseif($model.Div1.Div.BackGround.Tipo == "BackgroundGradiente")

<style>
    .content {

         #set($um = 1)
         #foreach($Cores in $model.Div1.Div.Background.BackgroundGradiente.Cores)
         #if($um == 1)
        #set($back = $Cores.HexToColor($Cores.CorBackground))
        background: rgb($back); 
        #end
        #set($um = $um + 1)        
         #end


         #set($quantidade = $model.Div1.Div.Background.Cores.Count())
        background: -moz-linear-gradient(${model.Div1.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div1.Div.Background.Cores)
         #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: -webkit-linear-gradient(${model.Div1.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div1.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

        #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: linear-gradient(${model.Div1.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div1.Div.Background.BackgroundGradiente.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
             ,
            #end

        #end  

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09e718',endColorstr='#1c8ea5',GradientType=1);
    }

    #pagina$model.Pagina.Id {

         #set($um = 1)
         #foreach($Cores in $model.Div1.Div.Background.Cores)
         #if($um == 1)
        #set($back = $Cores.HexToColor($Cores.CorBackground))
        background: rgb($back); 
        #end
        #set($um = $um + 1)        
         #end


         #set($quantidade = $model.Div1.Div.Background.Cores.Count())
        background: -moz-linear-gradient(${model.Div1.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div1.Div.Background.Cores)
         #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: -webkit-linear-gradient(${model.Div1.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div1.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

        #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: linear-gradient(${model.Div1.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div1.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
             ,
            #end

        #end  

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09e718',endColorstr='#1c8ea5',GradientType=1);
    }

</style>

#else

<style>
    .content {
        background-color: $model.Div1.Div.Background.Cor;
    }

    #pagina$model.Pagina.Id {
        background-color: $model.Div1.Div.Background.Cor;
    }
</style>

#end

#if($model.Div2.Div.Background.Tipo == "BackgroundImagem")
<style>
    #topo$model.Div2.Div.Id {
        background-image: url($site$model.Div2.Div.Background.Imagem.ArquivoImagem);
        background-repeat: $model.Div2.Div.Background.Background_Repeat;
    }
</style>

#elseif($model.Div2.Div.Background.Tipo == "BackgroundGradiente")

<style>
    #topo$model.Div2.Div.Background.Id {

         #set($um = 1)
         #foreach($Cores in $model.Div2.Div.Background.Cores)
         #if($um == 1)
        #set($back = $Cores.HexToColor($Cores.CorBackground))
        background: rgb($back); 
        #end
        #set($um = $um + 1)        
         #end


         #set($quantidade = $model.Div2.Div.Background.Cores.Count())
        background: -moz-linear-gradient(${model.Div2.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div2.Div.Background.Cores)
         #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: -webkit-linear-gradient(${model.Div2.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div2.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

        #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: linear-gradient(${model.Div2.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div2.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
             ,
            #end

        #end  

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09e718',endColorstr='#1c8ea5',GradientType=1);
    }
</style>

#else

<style>
    #topo$model.Div2.Div.Background.Id {
        background-color: $model.Div2.Div.Background.Cor;
    }
</style>

#end

#if($model.Div3.Div.Background.Tipo == "BackgroundImagem")

<style>
    #menu$model.Div3.Div.Background.Id {
        background-image: url($site$model.Div3.Div.Background.Imagem.ArquivoImagem);
        background-repeat: $model.Div3.Div.Background.Background_Repeat;
    }
</style>

#elseif($model.Div3.Div.Background.Tipo == "BackgroundGradiente")

<style>
    #menu$model.Div3.Div.Background.Id {

         #set($um = 1)
         #foreach($Cores in $model.Div3.Div.Background.Cores)
         #if($um == 1)
        #set($back = $Cores.HexToColor($Cores.CorBackground))
        background: rgb($back); 
        #end
        #set($um = $um + 1)        
         #end


         #set($quantidade = $model.Div3.Div.Background.Cores.Count())
        background: -moz-linear-gradient(${model.Div3.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div3.Div.background.Cores)
         #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: -webkit-linear-gradient(${model.Div3.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div3.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

        #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: linear-gradient(${model.Div3.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div3.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
             ,
            #end

        #end  

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09e718',endColorstr='#1c8ea5',GradientType=1);
    }
</style>

#else

<style>
    #menu$model.Div3.Div.Background.Id {
        background-color: $model.Div3.Div.Background.Cor;
    }
</style>

#end

#if($model.Div5.Div.Background.Tipo == "BackgroundImagem")

<style>
    #bordaEsquerda$model.Div5.Div.Id {
        background-image: url($site$model.Div5.Div.Background.Imagem.ArquivoImagem);
        background-repeat: $model.Div5.Div.Background.Background_Repeat;
    }
</style>

#elseif($model.Div5.Div.Background.Tipo == "BackgroundGradiente")

<style>
    #bordaEsquerda$model.Div5.Div.Background.Id {

         #set($um = 1)
         #foreach($Cores in $model.Div5.Div.Background.Cores)
         #if($um == 1)
        #set($back = $Cores.HexToColor($Cores.CorBackground))
        background: rgb($back); 
        #end
        #set($um = $um + 1)        
         #end


         #set($quantidade = $model.Div5.Div.Background.Cores.Count())
        background: -moz-linear-gradient(${model.Div5.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div5.Div.Background.Cores)
         #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: -webkit-linear-gradient(${model.Div5.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div5.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

        #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: linear-gradient(${model.Div5.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div5.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
             ,
            #end

        #end  

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09e718',endColorstr='#1c8ea5',GradientType=1);
    }
</style>

#else

<style>
    #bordaEsquerda$model.Div5.Div.Background.Id {
        background-color: $model.Div5.Div.Background.Cor;
    }
</style>

#end

#if($model.Div6.Div.Background.Tipo == "BackgroundImagem")

<style>
    #bordaDireita$model.Div6.Div.Background.Id {
        background-image: url($site$model.Div6.Div.Background.Imagem.ArquivoImagem);
        background-repeat: $model.Div6.Div.Background.Background_Repeat;
    }
</style>

#elseif($model.Div6.Div.Background.Tipo == "BackgroundGradiente")

<style>
    #bordaEsquerda$model.Div6.Div.Background.Id {

         #set($um = 1)
         #foreach($Cores in $model.Div6.Div.Background.Cores)
         #if($um == 1)
        #set($back = $Cores.HexToColor($Cores.CorBackground))
        background: rgb($back); 
        #end
        #set($um = $um + 1)        
         #end


         #set($quantidade = $model.Div6.Div.Background.Cores.Count())
        background: -moz-linear-gradient(${model.Div6.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div6.Div.Background.Cores)
         #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: -webkit-linear-gradient(${model.Div6.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div6.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

        #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: linear-gradient(${model.Div6.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div6.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
             ,
            #end

        #end  

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09e718',endColorstr='#1c8ea5',GradientType=1);
    }
</style>

#else

<style>
    #bordaDireita$model.Div6.Div.Background.Id {
        background-color: $model.Div6.Div.Background.Cor;
    }
</style>

#end

#if($model.Div4.Div.Background.Tipo == "BackgroundImagem")

<style>
    #blocos$model.Div4.Div.Id {
        background-image: url($site$model.Div4.Div.Background.Imagem.ArquivoImagem);
        background-repeat: $model.Div4.Div.Background.Background_Repeat;
    }
</style>

#elseif($model.Div4.Div.Background.Tipo == "BackgroundGradiente")

<style>
    #blocos$model.Div4.Div.Id {

         #set($um = 1)
         #foreach($Cores in $model.Div4.Div.Background.Cores)
         #if($um == 1)
        #set($back = $Cores.HexToColor($Cores.CorBackground))
        background: rgb($back); 
        #end
        #set($um = $um + 1)        
         #end


         #set($quantidade = $model.Div4.Div.Background.Cores.Count())
        background: -moz-linear-gradient(${model.Div4.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div4.Div.Background.Cores)
         #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: -webkit-linear-gradient(${model.Div4.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div4.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

        #if($velocityCount == $quantidade)
             );
        #else
            ,
            #end

        #end  

        background: linear-gradient(${model.Div4.Div.Background.Grau}deg,
        #foreach($Cor in $model.Div4.Div.Background.Cores)
        #set($Transparencia = $Cor.Transparencia / 10)
        rgba($Cor.HexToColor($Cor.CorBackground),$Transparencia.toString().replace(',','.')) ${Cor.Position}%

            #if($velocityCount == $quantidade)
             );
        #else
             ,
            #end

        #end  

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09e718',endColorstr='#1c8ea5',GradientType=1);
    }
</style>

#else

<style>
    #blocos$model.Div4.Div.Id {
        background-color: $model.Div4.Div.Background.Cor;
    }
</style>

#end

<meta charset='UTF-8'>

 <div id='corpo' data-value='$model.Div1.Div.Id' class='Corpo'>

    </div>

   #if($model.Pagina.Topo)
    <div id='topo$model.Div2.Div.Id' class='Topo' data-value='$model.Div2.Div.Id' style='z-index:10;'>
        <h1>$model.titulo</h1>
    </div>
    #end

    #if($model.Pagina.Menu)
    <div id='menu$model.Div3.Div.Id' class='Menu' data-value='$model.Div3.Div.Id' style='z-index:10;'>
        <p>menu</p>
        <br />
        #if ($model.facebook != 'vazio' && $model.facebook != '')
        <a href='$model.facebook' target='_blank'>
            <img class='img-responsive' src='/imagem/facebook.png' alt='imagem' style='width:50px;' />
        </a>
        #end

        #if ($model.twiter != 'vazio' && $model.twiter != '')
        <a href='$model.twiter' target='_blank'>
            <img class='img-responsive' src='/imagem/twitter.png' alt='imagem' style='width:50px;' />
        </a>
        #end

        #if ($model.instagram != 'vazio' && $model.instagram != '')
        <a href='$model.instagram' target='_blank'>
            <img class='img-responsive' src='/imagem/instagram.png' alt='imagem' style='width:50px;' />
        </a>
        #end





        #if($model.Pedidos)

        <a href='/Requisicao/IndexPedido' target='_blank'>
            Pedidos
        </a>

        #end


    </div>
    #end



    