#if ($element.Elemento.tipo == 'Carousel')
<div id='carousel${element.Elemento.IdElemento}Pagina${model.Pagina.Id}' class='Elemento$element.Elemento.IdElemento grid-item' style='height:auto' data-value='$element.Elemento.IdElemento' data-id='$element.Elemento.IdElemento'>
    <div id='carouselsite$element.Elemento.IdElemento' class='carousel' data-ride='carousel'>

        <div class='carousel-inner' role='listbox'>

            #foreach($dependente in $element.Elemento.Despendentes)

            <div class='item'>
                <img class='img-responsive minhaimg' src='$dependente.ElementoDependente.Dependente.ArquivoImagem' alt='imagem' style='width:100%;' />
                <!-- <div class='carousel-caption'>
                </div>   -->
            </div>
            #end
        </div>
    </div>
</div>

#end



