#if ($element.Elemento.tipo == 'Texto')

<div id='texto${element.Elemento.IdElemento}Pagina${model.Pagina.Id}' class='Elemento$element.Elemento.IdElemento grid-item' data-value='$element.Elemento.IdElemento' data-id='$element.Elemento.IdElemento'>

    <p>$element.Elemento.PalavrasTexto</p>
</div>

#end



