.carousel-item img {
    position: relative;
    width: 100%;
    z-index: 1;
    /* display: none;
    left: 0;*/
}

.carousel-item {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
    box-shadow: 0 0 15px #000;
    position: relative;
    display: none;
}

carousel {
    height: 100%;
}



#corpo {
    border-top: 0px;
    position: absolute;
    height: 10px;
    width: 10px;
}

h1 {
    text-align: center;
}

.video {
    width: 100%;
    padding-bottom: 20px;
}

.Link {
    padding-bottom: 20px;
}

.Form {
    padding-bottom: 20px;
}



.ContainerDiv{
    display: flex; 
}

.ClassDiv{
    display: flex; 
    height: auto;
    
}
.Elemento{
    display: flex; 
    height: auto;
    min-height: 50px;
    min-width: 50px;
}