
#CriaTexto {
    font-size: 22px;
}


#Chat {
    border: ridge;
    border-width: 20px;
    border-color: bisque;
    height: auto;
}

.content {
    border: ridge;
    border-width: 5px;
    border-color: bisque;
    height: auto;
}

#conteudomodal {
    height: auto;
}

#conteudoImagem {
    height: auto;
}

#conteudoMusica {
    height: auto;
}

#conteudoVideo {
    height: auto;
}

#Chat {
    height: 625px;
    overflow: auto;
}

.content {
    overflow: auto;
}

#discussion {
    background-color: rgba(133, 207, 231, 0.5);    
    width: 380px;
    height: 255px;
    overflow: scroll;
}

/*///////////////////////////////////////////////////////////(Codigo Renderizar)/////////////////////////////////////////////////////////////////////*/

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
}

.glyphicon {
    font-size: 22px;
}

#sites {
    margin-left: 50px;
}

#paginas {
    margin-left: 50px;
}

#acesso {
    margin-left: 50px;
}

.blocoLoader {
    z-index: 40;
}

.blocoLoader2 {
    z-index: 0;
    bottom: 30%;
}

.Paginacao {
    z-index: 120;
}

.minhaClasse3 {
    color: red;
}

#loading {
    display: none;
    background-color: lightgray;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 300px;
    filter: alpha(opacity=75);
    opacity: 0.75;
}
