@model business.business.Elementos.Campo

<h4>Campo</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="_Campo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Placeholder" class="control-label"></label>
                <input asp-for="Placeholder" class="form-control" />
                <span asp-validation-for="Placeholder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCampo" class="control-label"></label>
                <input asp-for="TipoCampo" class="form-control" />
                <span asp-validation-for="TipoCampo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormularioId" class="control-label"></label>
                <select asp-for="FormularioId" class="form-control" asp-items="ViewBag.FormularioId"></select>
                <span asp-validation-for="FormularioId" class="text-danger"></span>
            </div>
            <input asp-for="Ordem" type="hidden" />
            <input asp-for="Pagina_" type="hidden" />
            <input type="hidden" asp-for="Id" />
            @{
                if (Model.Id == 0)
                {
                    <div class="form-group">
                        <script src="~/js/Elemento/ElementoCampo.js"></script>
                        <input type="button" value="Save" onclick="ScriptElemento.Create()" class="btn btn-primary" />
                    </div>
                }
                else
                {
                    <div>
                        <script src="~/js/Elemento/ElementoCampo.js"></script>

                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("input, select").change(function () {

                                    ScriptElemento.Update();
                                });
                            });
                        </script>

                    </div>
                }
            }
        </form>
    </div>
</div>
