@model business.business.Elementos.imagem.Imagem

<h4>Imagem</h4>
<hr />
<div class="row">
    <div class="col-md-12">

        <div class="form-group">
            <label asp-for="PastaImagemId" class="control-label"></label>
            <select asp-for="PastaImagemId" class="form-control pastas" />
            <span asp-validation-for="PastaImagemId" class="text-danger"></span>
        </div>

        @{
            if (ViewBag.condicao)
            {
                <div class="form-group">
                    <label asp-for="PaginaEscolhida" class="control-label"></label>
                    <select asp-for="PaginaEscolhida" class="form-control" asp-items="ViewBag.PaginaEscolhida"></select>
                    <span asp-validation-for="PaginaEscolhida" class="text-danger"></span>
                </div>
            }
        }

        @if (Model.Id != 0)
        {

            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" type="range" max="100" min="5" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>

        }

        <div class="form-group">
            <input asp-for="ArquivoImagem" type="hidden" />
            <input asp-for="Id" type="hidden" />
        </div>

        @if (Model.Id == 0)
        {
            <div class="buttons">
                <div class="upload-button">
                    <input id="files" name="files" type="file" multiple onchange="uploadFilesImagem('files');" />
                </div>
            </div>
        }

        <img id="arquivoImagem" src="~/imagem/LoadingBasketContents.gif" style="display:none;" />

        @if (Model.Id != 0)
        {
            <div class="form-group">
                <input type="button" value="Copiar" onclick="ScriptElemento.Create()" class="btn btn-default" />
            </div>
        }

    </div>
</div>
