@model business.business.link.LinkBody


<h4>LinkBody</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="_LinkBody" id="formulario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ImagemId" class="control-label"></label>
                <select asp-for="ImagemId" class="form-control" asp-items="ViewBag.ImagemId"></select>
                <span asp-validation-for="ImagemId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TextoId" class="control-label"></label>
                <select asp-for="TextoId" class="form-control" asp-items="ViewBag.TextoId"></select>
                <span asp-validation-for="TextoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TextoLink" class="control-label"></label>
                <input asp-for="TextoLink" class="form-control" />
                <span asp-validation-for="TextoLink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PaginaEscolhida" class="control-label"></label>
                <select asp-for="PaginaEscolhida" class="form-control" asp-items="ViewBag.PaginaEscolhida"></select>
                <span asp-validation-for="PaginaEscolhida" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="Ordem" class="control-label"></label>
                <input asp-for="Ordem" type="number" class="form-control" />
                <span asp-validation-for="Ordem" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AlignSelf" class="control-label"></label>
                <select asp-for="AlignSelf" class="form-control">
                    <option value="auto">auto</option>
                    <option value="flex-start">flex-start</option>
                    <option value="flex-end">flex-end</option>
                    <option value="center">center</option>
                    <option value="baseline">baseline</option>
                    <option value="stretch">stretch</option>
                </select>
                <span asp-validation-for="AlignSelf" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClassesModificadoras" class="control-label"></label>
                <input asp-for="ClassesModificadoras" class="form-control" />
                <span asp-validation-for="ClassesModificadoras" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />
            @{
                if (Model.Id == 0)
                {
                    <div class="form-group">
                        <script src="~/js/Elemento/link/LinkBody.js"></script>
                        <input type="button" value="Save" onclick="ScriptElemento.Create()" class="btn btn-primary" />
                    </div>
                }
                else
                {
                    <div>
                        <a href="#" class="btn btn-warning blocoGradiente">Plano gradiente</a><br />
                        <a href="#" class="btn btn-primary blocoImagem">Plano imagem</a><br />
                        <a href="#" class="btn btn-danger blocoCor">Plano de uma cor</a><br />
                        <script src="~/js/Elemento/link/LinkBody.js"></script>

                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("input, select").change(function () {

                                    ScriptElemento.Update();
                                });

                    $(".blocoImagem").click(function () {
           
                     $("#conteudomodal").load("/Background/Edit/BackgroundImagemElemento/" + @(Model.Id));
                    });

                    $(".blocoGradiente").click(function () {
                        
                            $("#conteudomodal").load("/Background/Edit/BackgroundGradienteElemento/"+ @(Model.Id));

                    });

                    $(".blocoCor").click(function () {
                        
                            $("#conteudomodal").load("/Background/Edit/BackgroundCorElemento/"+ @(Model.Id));
                    });

                            });
                        </script>

                    </div>
                }
            }
        </form>
    </div>
</div>

