
<div class="buttons">
    <div class="upload-button">
        <input id="files" name="files" type="file" size="1" onchange="uploadFilesMusica('files');" />
    </div>
</div>

<img id="arquivoMusica" src="~/imagem/LoadingBasketContents.gif" style="display:none;" />

<div>

    <script src="~/js/UploadArquivos.js"></script>
    <script src="~/js/AdicionarElementosDependentes.js"></script>
    <script src="~/js/Elemento.js"></script>
    <script src="~/js/AjaxGet.js"></script>

</div>