@model business.business.Elementos.texto.Texto

<h4>Texto</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="_Texto">

            @if (Model.Id != 0)
            {
                <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=m8nq39l31dv5y829ehcjsd0rciwei8crem0yubndhdgs72fd"></script>
                <script src="~/js/Tynymce.js"></script>
            }

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            @{
                if (ViewBag.condicao)
                {
                    <div class="form-group">
                        <label asp-for="PaginaEscolhida" class="control-label"></label>
                        <select asp-for="PaginaEscolhida" class="form-control" asp-items="ViewBag.PaginaEscolhida"></select>
                        <span asp-validation-for="PaginaEscolhida" class="text-danger"></span>
                    </div>
                }
            }

            @if (Model.Id == 0)
            {
                <div class="form-group">
                    <label asp-for="PalavrasTexto" class="control-label"></label>
                    <script type="text/javascript">Criar();</script>
                    <textarea id="textarea" name="ajax_text" class="form-control"></textarea>
                    <span asp-validation-for="PalavrasTexto" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="PalavrasTexto" class="control-label"></label>
                    <script type="text/javascript">Editar();</script>
                    <textarea id="textarea" name="ajax_text" class="form-control">@Model.PalavrasTexto</textarea>
                    <span asp-validation-for="PalavrasTexto" class="text-danger"></span>
                </div>
            }

            <input asp-for="Ordem" type="hidden" />
            <input asp-for="Pagina_" type="hidden" />
            <input type="hidden" asp-for="Id" />
            @{
                if (Model.Id == 0)
                {
                    <div class="form-group">
                        <script src="~/js/Elemento/texto/ElementoTexto.js"></script>
                        <input type="button" value="Save" onclick="ScriptElemento.Create()" class="btn btn-primary" />
                    </div>
                }
                else
                {
                    <div>
                        <script src="~/js/Elemento/texto/ElementoTexto.js"></script>

                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("input, select").change(function () {

                                    ScriptElemento.Update();
                                });
                            });
                        </script>

                    </div>
                }
            }
        </form>
    </div>
</div>

