@using business.business.Elementos
@using business.business.Elementos.imagem
@using business.business.Elementos.produto
@using business.business.Elementos.texto
@using business.business.link
@using business.business.carousel
@model business.business.Elementos.element.Elemento

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Elemento</h4>

@{
   if (Model is Imagem) { <partial name="_Imagem" model="Model" /> }
    else if (Model is Texto) { <partial name="_Texto" model="Model" /> }
    else if (Model is Table) { <partial name="_Table" model="Model" /> }
    else if (Model is Campo) { <partial name="_Campo" model="Model" /> }
    else if (Model is Dropdown) { <partial name="_Dropdown" model="Model" /> }
    else if (Model is Formulario) { <partial name="_Formulario" model="Model" /> }
    else if (Model is Video) { <partial name="_Video" model="Model" /> }
    else if (Model is Show) { <partial name="_Show" model="Model" /> }
    else if (Model is Acessorio) { <partial name="_Acessorio" model="Model" /> }
    else if (Model is Alimenticio) { <partial name="_Alimenticio" model="Model" /> }
    else if (Model is Calcado) { <partial name="_Calcado" model="Model" /> }
    else if (Model is Roupa) { <partial name="_Roupa" model="Model" /> }
    else if (Model is LinkBody) { <partial name="_LinkBody" model="Model" /> }
    else if (Model is CarouselImg) { <partial name="_CarouselImg" model="Model" /> }
    else if (Model is CarouselPagina) { <partial name="_CarouselPagina" model="Model" /> }
}

<div>

            <script src="~/js/UploadArquivos.js"></script>
            <script src="~/js/AdicionarElementosDependentes.js"></script>
            <script src="~/js/Elemento.js"></script>
            <script src="~/js/AjaxGet.js"></script>

        </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
