@{
    ViewData["Title"] = "PaginaCriada";   
    int versiculo = ViewBag.versiculo;
    int capitulo = ViewBag.capitulo;
}

<h2>Importação realizada com sucesso!!!</h2>
<div>
    <h4>Compartilhar <span class="glyphicon glyphicon-send"></span></h4>    
    <hr />
    <dl class="dl-horizontal">        
        <dt>
            @Html.DisplayName("Capitulo")
        </dt>
        <dd>
            @capitulo
        </dd>
        <dt>
            @Html.DisplayName("Versiculo")
        </dt>
        <dd>
            @versiculo
        </dd>
    </dl>
</div>
