
@{
    ViewData["Title"] = "Admin";

    List<business.business.DadoFormulario> dados = ViewBag.dados;
}

<h1>Administrador</h1>

<a href="#" id="btn-Formulario" class="btn btn-success">Informoções de formulário</a>
<a href="#" id="btn-Venda" class="btn btn-primary">Informoções de venda</a>

<div id="Venda" class="dados" style="display: none;">
    <h2>Dados de venda</h2>
</div>

<div id="Formulario" class="dados" style="display: none;">
    <h2>Dados de formulário</h2>

    <table border="1">
        <tr>
            <td>Formulario</td>
            <td>Campo</td>
            <td>Valor</td>
        </tr>

        @foreach (var dado in dados)
        {
            <tr>
                <td>@dado.Formulario</td>
                <td>@dado.Campo</td>
                <td>@dado.Valor</td>
            </tr>
        }


    </table>

</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-Formulario").click(function () {
                $(".dados").fadeOut("slow");
                $("#Formulario").fadeIn("slow");
            });

            $("#btn-Venda").click(function () {
                $(".dados").fadeOut("slow");
                $("#Venda").fadeIn("slow");
            });

        });
    </script>
}

