@model business.business.div.DivComum

<h4>Bloco comum</h4>

<hr />
<div class="row" id="form">
    <div class="col-md-12">
        <form asp-action="_DivComum" id="formulario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Padding" class="control-label"></label>
                <input asp-for="Padding" type="range" max="95" min="0" value="0" class="form-control" />
                <span asp-validation-for="Padding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" type="range" max="2000" min="0" value="200" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" type="range" max="100" min="10" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>           

            <div class="form-group">
                <label asp-for="BorderRadius" class="control-label"></label>
                <input asp-for="BorderRadius" type="range" max="200" min="0" value="0" class="form-control" />
                <span asp-validation-for="BorderRadius" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ordem" class="control-label"></label>
                <input asp-for="Ordem" type="number" class="form-control" />
                <span asp-validation-for="Ordem" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="JustifyContent" class="control-label"></label>
                <select asp-for="JustifyContent" class="form-control">
                    <option value="flex-start">flex-start</option>
                    <option value="flex-end">flex-end</option>
                    <option value="space-between">space-between</option>
                    <option value="space-around">space-around</option>
                    <option value="space-evenly">space-evenly</option>
                    <option value="center">center</option>
                    <option value="start">start</option>
                    <option value="end">end</option>
                    <option value="left">left</option>
                    <option value="right">right</option>
                    <option value="safe">safe</option>
                    <option value="unsafe">unsafe</option>
                </select>
                <span asp-validation-for="JustifyContent" class="text-danger"></span>
            </div>

                <div class="form-group">
                <label asp-for="AlignSelf" class="control-label"></label>
                <select asp-for="AlignSelf" class="form-control">
                    <option value="auto">auto</option>
                    <option value="flex-start">flex-start</option>
                    <option value="flex-end">flex-end</option>
                    <option value="center">center</option>
                    <option value="baseline">baseline</option>
                    <option value="stretch">stretch</option>
                </select>
                <span asp-validation-for="AlignSelf" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="AlignItems" class="control-label"></label>
                <select asp-for="AlignItems" class="form-control">
                    <option value="stretch">stretch</option>
                    <option value="baseline">baseline</option>
                    <option value="first baseline">first baseline</option>
                    <option value="last baseline">last baseline</option>
                    <option value="center">center</option>
                    <option value="flex-start">flex-start</option>
                    <option value="flex-end">flex-end</option>
                    <option value="self-start">self-start</option>
                    <option value="self-end">self-end</option>
                    <option value="start">start</option>
                    <option value="end">end</option>
                    <option value="safe">safe</option>
                    <option value="unsafe">unsafe</option>
                </select>
                <span asp-validation-for="AlignItems" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="FlexWrap" class="control-label"></label>
                <select asp-for="FlexWrap" class="form-control">
                    <option value="nowrap">nowrap</option>
                    <option value="wrap">wrap</option>
                    <option value="wrap-reverse">wrap-reverse</option>
                </select>
                <span asp-validation-for="FlexWrap" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClassesModificadoras" class="control-label"></label>
                <input asp-for="ClassesModificadoras" class="form-control" />
                <span asp-validation-for="ClassesModificadoras" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Elementos do bloco</label>
                <input asp-for="Elementos" type="text" />
            </div>

            <input type="hidden" asp-for="Id" />


            @{
                if (Model.Id == 0)
                {
                    <script src="~/js/div/DivComum.js"></script>
                    <div class="form-group">
                        <input type="button" value="Save" onclick="div.Create()" class="btn btn-primary" />
                    </div>
                }
                else
                {
                    <script src="~/js/div/DivComum.js"></script>

                    <div class="form-group">
                        <input type="button" value="Copiar" onclick="div.Create()" class="btn btn-primary" />
                    </div>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("input, select").change(function () {
                                div.Update();
                            });
                        });
                    </script>
                    <div id="links-back">
                        
                        <a href="#" class="btn btn-warning blocoGradiente">Plano gradiente</a><br />
                        <a href="#" class="btn btn-primary blocoImagem">Plano imagem</a><br />
                        <a href="#" class="btn btn-danger blocoCor">Plano de uma cor</a><br />

                    </div>
                }
            }
        </form>
    </div>
</div>



<div>
    <script src="~/js/div/DivComum.js"></script>

    <script src="~/js/AjaxGet.js"></script>

    <script type="text/javascript">

        $(".blocoImagem").click(function () {
           
                $("#conteudomodal").load("/Background/Edit/BackgroundImagem/" + @(Model.Id));
        });

        $(".blocoGradiente").click(function () {
            
                $("#conteudomodal").load("/Background/Edit/BackgroundGradiente/"+ @(Model.Id));

        });

        $(".blocoCor").click(function () {
            
                $("#conteudomodal").load("/Background/Edit/BackgroundCor/"+ @(Model.Id));
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("input, select").change(function () {
                
                div.Update();
            });
        });
    </script>

    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    
}
