@model business.div.DivFixo

<h4>Bloco Fixo</h4>

<hr />
<div class="row" id="form">
    <div class="col-md-12">
        <form asp-action="_DivFixo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Padding" class="control-label"></label>
                <input asp-for="Padding" type="range" max="95" min="5" value="5" class="form-control" />
                <span asp-validation-for="Padding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" type="range" max="2000" min="0" value="200" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colunas" class="control-label"></label>
                <select asp-for="Colunas" class="form-control">
                    <option value="auto">1 coluna</option>
                    <option value="auto auto">2 colunas</option>
                    <option value="auto auto auto">3 colunas</option>
                    <option value="auto auto auto auto">4 colunas</option>
                    <option value="auto auto auto auto auto">5 colunas</option>
                    <option value="auto auto auto auto auto auto">6 colunas</option>
                    <option value="auto auto auto auto auto auto auto">7 colunas</option>
                    <option value="auto auto auto auto auto auto auto auto">8 colunas</option>
                    <option value="auto auto auto auto auto auto auto auto auto">9 colunas</option>
                    <option value="auto auto auto auto auto auto auto auto auto auto">10 colunas</option>
                    <option value="auto auto auto auto auto auto auto auto auto auto auto">11 colunas</option>
                    <option value="auto auto auto auto auto auto auto auto auto auto auto auto">12 colunas</option>
                </select>
                <span asp-validation-for="Colunas" class="text-danger"></span>
            </div>

            <input asp-for="Desenhado" type="hidden" value="0" />

            <div class="form-group">
                <label asp-for="Divisao" class="control-label"></label>
                <select asp-for="Divisao" class="form-control">
                    <option value="col-md-12">inteiro</option>
                    <option value="col-md-11">11 partes</option>
                    <option value="col-md-10">10 partes</option>
                    <option value="col-md-8">8 partes</option>
                    <option value="col-md-2">1/6 da linha</option>
                    <option value="col-md-3">1/4 da linha</option>
                    <option value="col-md-4">1/3 da linha</option>
                    <option value="col-md-6">1/2 da linha</option>
                    <option value="col-md-1">12 partes</option>
                    <option value="col-xs-12">inteiro (para celular)</option>
                    <option value="col-xs-11">11 partes (para celular)</option>
                    <option value="col-xs-10">10 partes (para celular)</option>
                    <option value="col-xs-8">8 partes (para celular)</option>
                    <option value="col-xs-2">1/6 da linha (para celular)</option>
                    <option value="col-xs-3">1/4 da linha (para celular)</option>
                    <option value="col-xs-4">1/3 da linha (para celular)</option>
                    <option value="col-xs-6">1/2 da linha (para celular)</option>
                    <option value="col-xs-1">12 partes</option>
                </select>
                <span asp-validation-for="Divisao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorderRadius" class="control-label"></label>
                <input asp-for="BorderRadius" type="range" max="200" min="0" value="0" class="form-control" />
                <span asp-validation-for="BorderRadius" class="text-danger"></span>
            </div>

            <input asp-for="Ordem" type="hidden" value="0" />

            <div class="form-group">
                <label asp-for="EixoYBlocoFixado" class="control-label"></label>
                <input asp-for="EixoYBlocoFixado" type="range" max="100" min="0" class="form-control" />
                <span asp-validation-for="EixoYBlocoFixado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EixoXBlocoFixado" class="control-label"></label>
                <input asp-for="EixoXBlocoFixado" type="range" max="100" min="0" class="form-control" />
                <span asp-validation-for="EixoXBlocoFixado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EscolherPosicao" /> @Html.DisplayNameFor(model => model.EscolherPosicao)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="InicioFixacao" class="control-label"></label>
                <input asp-for="InicioFixacao" class="form-control" />
                <span asp-validation-for="InicioFixacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosicaoFixacao" class="control-label"></label>
                <input asp-for="PosicaoFixacao" type="range" max="100" min="0" class="form-control" />
                <span asp-validation-for="PosicaoFixacao" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label class="control-label">Elementos do bloco</label>
                <input asp-for="Elementos" type="text" />
            </div>

            <input type="hidden" asp-for="Id" />

            @{
                if (Model.Id == 0)
                {
                    <script src="~/js/div/DivFixo.js"></script>
                    <div class="form-group">
                        <input type="button" value="Save" onclick="div.Create()" class="btn btn-primary" />
                    </div>
                }
                else
                {
                    <script src="~/js/div/DivFixo.js"></script>

                    <div class="form-group">
                        <input type="button" value="Copiar" onclick="div.Create()" class="btn btn-primary" />
                    </div>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("input, select").change(function () {
                                div.Update();
                            });
                        });
                    </script>
                    <div id="links-back">
                        <input type="hidden" id="numero-back" name="numero-back" />
                        <a href="#" class="btn btn-warning blocoGradiente">Plano gradiente</a><br />
                        <a href="#" class="btn btn-primary blocoImagem">Plano imagem</a><br />
                        <a href="#" class="btn btn-danger blocoCor">Plano de uma cor</a><br />

                    </div>
                }
            }
        </form>
    </div>
</div>

<div id="links-back" style="display:none;">
    <input type="hidden" id="numero-back" name="numero-back" />
    <a href="#" class="btn btn-warning blocoGradiente">Plano gradiente</a><br />
    <a href="#" class="btn btn-primary blocoImagem">Plano imagem</a><br />
    <a href="#" class="btn btn-danger blocoCor">Plano de uma cor</a><br />

</div>

<div>
    <script type="text/javascript">

        $(".blocoImagem").click(function () {
            var numero = $("#numero-back").val();
            if (numero != "")
                $("#conteudomodal").load("/Background/Create/BackgroundImagem/" + numero);
            else
                $("#conteudomodal").load("/Background/Edit/BackgroundImagem/@(Model.Id)");
        });

        $(".blocoGradiente").click(function () {
            var numero = $("#numero-back").val();
            if (numero != "")
                $("#conteudomodal").load("/Background/Create/BackgroundGradiente/" + numero);
            else
                $("#conteudomodal").load("/Background/Edit/BackgroundGradiente/@(Model.Id)");

        });

        $(".blocoCor").click(function () {
            
            var numero = $("#numero-back").val();
            debugger;
            if(numero != "")
                $("#conteudomodal").load("/Background/Create/BackgroundCor/" + numero);
            else
                $("#conteudomodal").load("/Background/Edit/BackgroundCor/@(Model.Id)");
        });

    </script>
</div>

<div>
    <script src="~/js/AjaxGet.js"></script>
    

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}